<div class="backgroundCreate">

    <div class="createRecip">
        <h1>Hey Micheal, create your recipe!</h1>
    
        <input type="text" value="Add Recipe Image"> <button class="attachfile">Attach File</button>
    
        <input type="text" value="Recipe Name">
        <input type="text" value="Recipe Description">
        <input type="text" value="Recipe Total Time">
        <input type="text" value="Recipe Serving Size">
    
        <h1>Enter Ingredients:</h1>
    
        <input type="text" value="Ingredient #1">
        <input type="text" value="Ingredient #2">
        <input type="text" value="Ingredient #3"><button class="addbutton">+</button>
    
        <h1>Enter Instructions:</h1>
    
        <input type="text" value="Instructions #1">
        <input type="text" value="Instruction #2">
        <input type="text" value="Instruction #3"><button class="addbutton">+</button>
    
        <br><button class="createButton">Create Recipe</button>
    
    
    
    
    
    </div>
</div>


