<div class="backgroundMyRecipe">

    <h1>Hey Micheal, Here are your Recipes!</h1>
        


<div class="yourRecipe">

            <div class="recipeBox">
                <div class="imgbox">

                
                    <button id="detailRecipe" onclick="viewDetail()">View</button>
                    <button class="buttonEdit">Edit Recipe</button>
                    <button class="buttonDelete">Delete</button>
                </div>
                <div class="infoBox">
                    <h3>Hamburger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas perferendis totam deleniti hic, quaerat fugiat ullam officia aspernatur error dignissimos fuga natus esse ducimus. Nam culpa cupiditate laboriosam numquam.</p>
                </div>

            </div>

            <div class="recipeBox">

                <div class="imgbox">
                    <button id="detailRecipe">View</button>
                    <button class="buttonEdit">Edit Recipe</button>
                    <button class="buttonDelete">Delete</button>
                </div>
                <div class="infoBox">
                    <h3>Hamburger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas perferendis totam deleniti hic, quaerat fugiat ullam officia aspernatur error dignissimos fuga natus esse ducimus. Nam culpa cupiditate laboriosam numquam.</p>
                </div>
            </div>

            
        </div>


</div>