<nav>
    <div class="logo"></div>
    <div class="links">
        <a id="home" href="#">Home</id=a>
        <a id="recipes" href="#">Browse</a>
        <a id="createRecip" href="#">Create Recipe</a>
        <div id="loggedIn">
            <a id="myRecipes" href="#">My Recipes</a>
            <button class="loginOut" onclick="Logged()">log Out</button> 
        </div>
        <div id="loggedOut">
            <button id="login" >login</button>
        </div>
        
    </div>

    <div class="navicon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>