.recipeContainer {
  padding-top: 150px;
  margin: 0 auto;
  width: 90%;
  min-height: 720px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: turquoise;
}